body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 55px;
  height: 5px;
  background-color: #ff2953;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*header section*/
.hero_area {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-image: url(images/background-seccion1.jpg);

  .single-blog-item {max-width: 350px;margin: 30px auto;}

  background-attachment: fixed;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .who_section.layout_padding {
  padding-top: 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  padding-bottom: 3px;
  color: #ffffff;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
  display: block;
  background-color: #ff2953;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  color: #ffffff;
  margin: 10px 30px;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar-brand span {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(images/stack.png);
  background-size: contain; 
  background-position: center;
  width: 35px; 
  height: 35px;
}

/*end header section*/
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .box {
  margin: 125px 0;
}

.slider_section .detail-box {
  text-align: center;
}

.slider_section .detail-box h1,
.slider_section .detail-box h2,
.slider_section .detail-box h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail-box h2 {
  font-size: 2.5rem;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .5rem;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: uppercase;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.slider_section #carouselExampleIndicators .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators .carousel-indicators li {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators .carousel-indicators li.active {
  border: 4px solid #ffffff;
}


/* footer section*/
.footer_section {
  background-color: #fbfdfd;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

/* end footer section*/


.blog{
  padding:20px 0 20px;
  background-color: #000000;
}

.blog h2{
  color: #ffffff;
  text-align: center;
  font-weight: bold;

}
.blog-content{margin-top: 20px;}

.single-blog-item{
  background-color: white; /* Fondo blanco para los elementos */
  margin-bottom: 30px;
  box-shadow: 0 0px 5px rgba(71, 71, 71, 0.2); /* Sombra leve por defecto */
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30%;
  margin: 10px;
  box-sizing: border-box;
}
.single-blog-item-txt {padding:  25px 28px 27px;}
.single-blog-item-txt h2 {font-size: 24px;}
.single-blog-item-txt h4 {
    font-size:  14px;
    color:  #8f949d;
    font-weight:  400;
    margin: 12px 0 20px;
}

.single-blog-item-txt h4 a {
    font-size:  10px;
    padding-right:  14px;
    border-right: 1px solid #dde0e4;
    margin-right:  15px;
    text-transform: uppercase;
}

.single-blog-item:hover h2 a {color:#ff545a;}
.single-blog-item:hover{
    box-shadow: 0 10px 20px rgba(21,19,19,.4);
}

.single-blog-item-img, .single-blog-item-img img  {
  width: 100%;
  height: 200px; /* Ajusta esta altura según tus necesidades */
  overflow: hidden; /* Para asegurarte de que las imágenes no se desborden */
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}



/* Estilos generales de la sección */
.seccion {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los tres lados */
  padding: 20px;
  background-color: #000000;
}
  
/* Estilos para los lados izquierdo y derecho */
.lado-izquierdo, .lado-derecho {
  flex: 1; /* Cada lado ocupa una fracción del espacio disponible */
}

/* Estilo del contenedor del medio */
.medio {
  flex: 7; /* El contenedor del medio ocupa aproximadamente 70% del espacio */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo de la caja central en el medio */
.caja-central {
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 80%; /* Ajusta este valor según el tamaño deseado */
  margin: 0 auto; /* Centra la caja dentro del contenedor */
}

/* Estilos para los lados izquierdo y derecho de la caja central */
.lado-izquierdo-caja {
  flex: 2; /* Lado izquierdo ocupa más espacio */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.lado-derecho-caja {
  flex: 1; /* Lado derecho ocupa menos espacio */
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
  padding: 10px;
}





/* Lado derecho de la caja central ocupa el doble de espacio que el izquierdo */
.lado-derecho-caja {
  flex: 2;
}

/* Estilo para las imágenes dentro de los lados de la caja central */
.lado-izquierdo-caja img, .lado-derecho-caja img {
  max-width: 100%; /* Asegura que las imágenes se ajusten al contenedor */
  height: 400px;
  width: 350px;
  display: block;
}

/* Margen superior para la imagen horizontal en el lado derecho de la caja */
.lado-derecho-caja img {
  margin-top: 10px;
  height: 200px;

}